* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.company-profile {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-profile img {
    display: block;
    width: 100%;
    height: auto;
}

/* =========================
   PÁGINA 37
   ========================= */

.page-37 {
    position: relative;
    width: 100%;
    line-height: 0;
}

.page-37 img {
    display: block;
    width: 100%;
    height: auto;
}


.proposal-link {
    position: absolute;

    left: 46%;
    top: 61.7%;

    width: 34%;
    height: 3%;

    z-index: 10;
    cursor: pointer;
}

/* =========================
   PÁGINA 41
   ========================= */

.page-41 {
    position: relative;
    width: 100%;
    line-height: 0;
}

.page-41 img {
    display: block;
    width: 100%;
    height: auto;
}


/* WhatsApp — telefone */

.whatsapp-link {
    position: absolute;

    left: 35.4%;
    top: 89.2%;

    width: 14%;
    height: 4%;

    z-index: 10;
    cursor: pointer;
}


/* E-mail */

.email-link {
    position: absolute;

    left: 35.4%;
    top: 85%;

    width: 24%;
    height: 4%;

    z-index: 10;
    cursor: pointer;
}